app = 'bdp-registry-api-dev'
primary_region = 'ams'

[build]
  dockerfile = 'src/BDP.Registry.API/Dockerfile'

[deploy]
  strategy = 'rolling'

[env]
  ASPNETCORE_ENVIRONMENT = 'Production'
  ASPNETCORE_HTTP_PORTS = '8080'
  ASPNETCORE_URLS = 'http://+:8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/app/wwwroot'
  url_prefix = '/static'
