app = 'bdp-registry-web'
primary_region = 'ams'

[build]
  dockerfile = '../../src/BDP.Registry.Web/Dockerfile'
  context = '../../'

[deploy]
  strategy = 'rolling'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[http_service.concurrency]
  type = 'requests'
  hard_limit = 250
  soft_limit = 200

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
